/* TrashCanTable.css */

/* Style pour la page */
.page-container {
    background-color: #f3f3f3;
    padding: 20px;
  }
  
  /* Style pour le titre de la page */
  .page-title {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
  }
  
  /* Style pour le conteneur des données */
  .data-container {
    display: flex;
    justify-content: space-around;
  }
  
  /* Style pour les poubelles */
  .trash-can {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  
  /* Style pour le pourcentage de remplissage */
  .fill-rate {
    font-weight: bold;
    font-size: 24px;
    margin-right: 10px;
  }
  
  /* Style pour les notifications */
  .notification {
    width: 20px;
    height: 100px;
    border-radius: 5px;
  }
  
  /* Style pour la poubelle remplie */
  .filled {
    background-color: red;
  }
  
  /* Style pour la poubelle presque remplie */
  .almost-filled {
    background-color: yellow;
  }
  
  /* Style pour la poubelle vide */
  .empty {
    background-color: green;
  }
.alert-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 16px;
  background-color: #fff
}

.alert {
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}

.alert-Fermée {
  color: #f00;
  background-color: #fff;
}

.alert-Ouverte {
  color: #0f0;
  background-color: #fff;
}
.realtime-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.chart-container {
  width: 80%;
  max-width: 600px;
  /* Adjust max-width according to your preference */
  margin-top: 20px;
}.realtime-container {
  position: relative;
}

.alert-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  padding: 8px 12px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.chart-container {
  width: 80%;
  max-width: 600px;
  /* Adjust max-width according to your preference */
  margin: auto;
  /* Center the chart horizontally */
  margin-top: 50px;
  /* Add margin to separate from the alerts */
}